<h2>Eventos</h2>
<hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filterList"/>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">
        <button class="btn btn-outline-light btn-sm" (click)="showImage = !showImage">
          <i class="{{ showImage ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>&nbsp;
          {{ showImage ? "Exibir" : "Ocultar" }}
        </button>
      </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opcoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="showImage" [isAnimated]="true" src="/assets/img/{{ evento.imagemURL }}" [style.width.px]="widthImg"
          [style.margin.px]="marginImg" />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | dateTimeFormat}}</td>
      <td>{{ evento.qtdPessoa }}</td>
      <td>{{ evento.lotes[0].nome | uppercase}}</td>
      <td>
        <button class="btn btn-danger" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-info" tooltip="Editar">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length || !eventos.length ">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nehum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- MODAL -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Nao</button>
  </div>
</ng-template>
