<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text">Filtro:</label>
        </div>

        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por tema e local."
          [(ngModel)]="filterList"
        />
        &nbsp; &nbsp;
        <div>
          <a
            class="d-flex btn btn-outline-primary"
            routerLink="/eventos/detalhe"
          >
            <i class="fa-solid fa-plus-circle my-1"></i>
            <b class="ml-1 d-none d-sm-block">Novo</b>
          </a>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button
            class="btn btn-outline-light btn-sm"
            (click)="showImage = !showImage"
          >
            <i class="{{ showImage ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i
            >&nbsp;
            {{ showImage ? "Exibir" : "Ocultar" }}
          </button>
        </th>
        <th>Id</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opcoes</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr
        *ngFor="let evento of eventos"
        (click)="detalheEvento(evento.id)"
        style="cursor: pointer"
      >
        <td class="d-none d-md-table-cell">
          <img
            [collapse]="showImage"
            [isAnimated]="true"
            [src]="mostrarImagem(evento.imagemURL)"
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
          />
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento }}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
        <td class="d-none d-md-table-cell">
          {{ evento.lotes[0]?.nome | uppercase }}
        </td>
        <td>
          <button
            class="btn btn-danger"
            tooltip="Excluir"
            (click)="openModal($event, template, evento.id)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length || !eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nehum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="d-flex justify-content-center">
    <!-- <pagination
      [boundaryLinks]="true"

      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.totalItems"
      (pageChanged)="pageChanged($event)"

      pageBtnClass="btn"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination> -->
    <pagination
      [boundaryLinks]="true"
      [align]="true"

      [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"

      pageBtnClass="btn"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
  </pagination>
 Total: {{ pagination.totalItems | json  }}
 Current: {{ pagination.currentPage |json }}
 <!-- Intens {{ pagination.itemsPerPage| json }} -->
  </div>
</div>

<!-- MODAL -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o evento de codigo {{ eventoId }}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Nao
    </button>
  </div>
</ng-template>
